@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(fonts/OpenSans.eot);src:local('Open Sans'),local('OpenSans'),url(fonts/OpenSans.eot) format('embedded-opentype'),url(fonts/OpenSans-Regular.woff) format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:url(fonts/OpenSans.eot);src:local('Open Sans Light'),local('OpenSans-Light'),url(fonts/OpenSans-Light.woff) format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(fonts/OpenSans.eot);src:local('Open Sans Regular'),local('OpenSans-Regular'),url(fonts/OpenSans-Regular.woff) format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:url(fonts/OpenSans.eot);src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url(fonts/OpenSans-Semibold.woff) format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:url(fonts/OpenSans.eot);src:local('Open Sans Bold'),local('OpenSans-Bold'),url(fonts/OpenSans-Bold.woff) format('woff')}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(fonts/Raleway-Thin.woff) format('woff');
}
*{margin:0;padding:0;outline:none;border-spacing:0;border:none}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:focus,*:hover,*:active{outline:none}
img{border:none}
::-moz-focus-inner{border:0}
body{font-family:"Open Sans", Arial, sans-serif;color:#777;font-size:18px;font-weight:300;background:#eee;overflow-x:hidden;height:100%}
body.login-page{font-family:"Open Sans", 'Raleway', Arial, sans-serif; background:url(../images/row1bg.jpg) no-repeat;background-position:top right;}
body.login-page h2, body.login-page h2 a { font-weight:300 !important; }
::-webkit-input-placeholder{font-size:16px;color:#bbb;opacity:1 !important;font-weight:300;font-family:"Open Sans", Arial, sans-serif;}
:-moz-placeholder{font-size:16px;color:#bbb;font-weight:300;font-family:"Open Sans", Arial, sans-serif;}
::-moz-placeholder{font-size:16px;color:#bbb;font-weight:300;font-family:"Open Sans", Arial, sans-serif;}
:-ms-input-placeholder{font-size:16px;color:#bbb;font-weight:300;font-family:"Open Sans", Arial, sans-serif;}

body.login-page ::-webkit-input-placeholder{color:#bbb;}
body.login-page :-moz-placeholder{color:#bbb;}
body.login-page ::-moz-placeholder{color:#bbb;}
body.login-page :-ms-input-placeholder{color:#bbb;}

.in-progress {
	margin-top:80px;
	display: block;
}

#loader, #blank-loader { width:100%; height:100%; position:fixed; top: 0; left: 0; z-index: 10000; background: rgba( 0, 0, 0, 0.3); }
#blank-loader { background: none; display: none;}
.loader { margin: 0 auto; margin-top:100px; font-size: 10px; border-top: 1.1em solid rgba(255, 255, 255, 0.2); border-right: 1.1em solid rgba(255, 255, 255, 0.2); border-bottom: 1.1em solid rgba(255, 255, 255, 0.2); border-left: 1.1em solid #ffffff; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; }
.loader.dark { border-top: 1.1em solid rgba(155, 155, 155, 0.2); border-right: 1.1em solid rgba(155, 155, 155, 0.2); border-bottom: 1.1em solid rgba(155, 155, 155, 0.2); border-left: 1.1em solid #ddd; }
.loader, .loader:after { border-radius: 50%; width: 10em; height: 10em; }
@-webkit-keyframes load8 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes load8 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes load8 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

a{color:#666;text-decoration:none;cursor:pointer;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
a:hover{text-decoration:none;color:#999}
a.blue{color:#ff6400}
a.elisa{color: #0019af}
h1,h2,h3,h4,h5,h6{font-weight:300}
h1{font-size:60px}
h2{font-size:36px}
h3{font-size:30px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h7{font-size:14px}
h8{font-size:13px}
.small{font-size:14px}
.xsmall{font-size:13px}
.cntr{text-align:center}
.lt{float:left}
.rt{float:right}
.cl{clear:both}
.fxd{position:fixed}
.vishdn{visibility:hidden}
.visvis{visibility:visible}
.disnone{display:none}
.cwhite{color:#fff}
.lightwhite{color:#ddd}
.cred{color:#f00;padding:20px;text-align:center;background:#ddd;width:300px;position:relative;z-index:10;margin:0 auto;margin-top:5px;display:none}
.cred.show{display:block}
.redvd{color:#e60000}
.cgray{color:#222}
.bgwhite{background:#fff}
.bgdgray{background:#222}
.bglgray{background:#666}
.bgblue{background:#ff6400}
.bgredvd{background:#e60000}
.bgdarkred{background:#64050a}
.bgred{background:#b2133d}
.bgcnt{background:#fa5f13}
.bgpht{background:#1f7e01}
.bgvid{background:#a300c1}
.bgmsc{background:#0654c9}
.bgfls{background:#a79602}
.bgupl{background:#c00}
.bgloc{background:#00c0c0}
.bgclndr{background:#004000}
.bgalbm{background:#f28f00}
.bgvdgray{background:#d9d9d9}
.bgshare{background:#ff6400}
.bgfb{background:#3b5998}
.bgtw{background:#55acee}
.bgdl{background:#193e6d}
.bgdel{background:#d0000d}
.shd{box-shadow:0 0 5px rgba(0,0,0,0.6)}
ul{list-style:none !important}
input{width:300px;font-size:20px;padding:8px;border:none;border-bottom:1px solid #ddd;color:#777;background:none;font-family:"Open Sans", Arial, sans-serif;font-weight:300}
input[type=submit],input[type=button]{width:auto;padding:10px 15px;cursor:pointer}
input[type=submit]:hover,input[type=button]:hover{color:#ff6400;background:#ddd}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #eee !important;
}

.login-label { color: #404041; font-size:36px; letter-spacing: -1px;padding:10px; margin-top:40px;}
.login-label.sitename {color: #fff;}
@media (min-width:1024px){
	.login-label.sitename { color: #404041;}
}

.btn-sign { border-radius:90px;width:70px !important; height:70px !important;border:none;background:#ff6400;margin:10px auto; color:white;clear: both;cursor: pointer}
.btn-sign:hover {background: #0019af; color: white;}
.login-logo{width:220px;height:220px;text-align:center;margin: 10px auto;}
.login-logo img{margin-top:0px;width:220px; }
.login{text-align:center;margin:20px auto;width:300px;}
.login h4 { color: #404041; }
.login input { background:#e9e9e9; color:#0019af !important; border: 1px solid #ccc; margin:5px;float: left;clear: both;}
.logo{display:block;float:left}
.mod{cursor:pointer}
#hdr{top:0;left:0;width:100%;height:70px;z-index:1001;background:#0019af}
.hdr-label{margin-top:25px;margin-left:10px;letter-spacing:-1px;line-height:16px;text-align:center;color:#fff;}
.hdr-label:first-letter{text-transform:capitalize}
.hdr-label span{font-size:14px;letter-spacing:-1px}
.hdr-device-label {margin-top:25px;margin-right:10px;line-height:16px;font-size:18px;letter-spacing:-1px;color:#fff;}
.hdr-btn{width:70px;height:70px;cursor:pointer;margin-left:1px}
.hdr-btn .fa{margin-top:20px}
.hdr-btn .fa.extend{margin-top:17px}
#hdr-error {position:fixed; top:70px; left:0; width:100%; padding: 8px 0; text-align:center; display:none;background:#ddd;z-index:1000}
#dev-label {margin-top: 23px; margin-left: 20px;}
.time_left { font-size:70px; }
.time_left span.small{ font-size:14px; }
#uploadAll{overflow:auto;clear:both;display:block}
.btn-group{clear:both;display:block}
.btn{float:left}
.btn a{display:block;padding:12px 0;text-align:center;width:60px;height:60px;color:#fff;opacity:.7;font-size:26px}
.btn a:hover{opacity:1}
.btn a.btn-dis{background:#222;cursor:not-allowed}
.btn.wauto{margin-left:5px}
.btn.wauto a{width:auto;padding:12px 12px}
.btn-sm{float:left;margin-left:10px}
.btn-sm a{display:block;padding:0;text-align:center;width:34px;height:34px;color:#fff;opacity:.7;font-size:26px}
.btn-sm a:hover{opacity:1}
.jwbtns{float:right;margin-top:-30px}
.jwbtn{float:left}
.jwbtn a{display:block;padding:0;text-align:center;width:34px;height:30px;color:#fff;background:#666;opacity:.7}
.jwbtn a:hover{opacity:1}
.jwbtn.jwnow a{padding:2px 20px 0 10px;width:auto}
.hdr-act{top:0;width:auto;height:auto;padding:10px;z-index:-1;text-align:center;color:#bbb;background:url("../images/1x1.png")}
.hdr-act .btn{margin:10px 0 0 10px}
.hdr-act .btn:nth-child(2){margin-left:0}
.hdr-cnt{top:70px;height:auto;width:auto;padding:5px;z-index:-1}
.hdr-cnt ul li{margin:5px;display:inline;min-width:80px;height:80px;padding-top:15px;cursor:pointer}
#lang-list{position:relative}
#lang-list a{display:block;color:#fff;padding:22px 15px 24px}
#lang-list a:hover{color:#fff;background:#ff6400}
#lang-list ul{background:#fff;display:none;position:absolute;width:95px}
#lang-list ul li{padding:3px 10px;color:#777;cursor:pointer}
#lang-list ul li:hover{color:#fff;background:#ff6400}
.hdr-dev{top:70px;height:100%;width:300px;padding:20px 0;z-index:-1;background:rgba(0,25,175, 0.7)}
.hdr-dev .is-loading{color:#fff !important}
.hdr-dev h4.hd,.hdr-dev h6.hd{margin:10px 15px}
.hdr-dev ul{min-height:30px}
.hdr-dev ul li{padding:10px;width:100%;cursor:pointer}
.hdr-dev ul li h5{margin-top:5px}
.hdr-dev ul li h4{margin-left:10px}
.hdr-dev ul li:hover{background:#0019af}
.device-fname { width:auto !important; padding: 0 !important; border: none; display: none;}
.edit-fname-form {}
.edit-fname { color: #eee }

.hdr-menu{background:rgba(0,25,175, 0.7);top:70px;height:100%;min-width:300px;width:300px;padding:20px 0;z-index:-1}
.hdr-menu img{margin:0 10px}
.hdr-menu .chart-cont{margin:10px auto;width:100%;text-align:center;float:left;clear:both}
.hdr-menu .chart-cont .is-loading{color:#fff !important}
.hdr-menu .chart-det{margin:10px auto;width:auto;float:left;clear:both}
.hdr-menu .chart-det li{float:left;clear:both;margin-left:20px;margin-top:10px}
.hdr-menu .chart-det li.link{cursor:pointer}
.hdr-menu .chart-det li.lwr{margin-top:40px}
.hdr-menu .chart-det li a h6{color:#eee}
.hdr-menu .chart-det li .iconbg{margin-right:10px;margin-top:7px;width:15px;height:5px}
.hdr-menu .chart-det li .icon{margin-right:10px;margin-top:-3px;width:15px;height:20px;color:#ccc}
.hdr-menu #chart{margin-top:5px;clear:both}
.ui-tooltip{max-width:500px;font-family:"Open Sans", Arial, sans-serif;font-size:14px;font-weight:300;padding:8px 12px;background:#ff6400;color:#fff;border:none;border-radius:0;box-shadow:0 0 5px rgba(0,0,0,0.6)}
.info{padding:15px 20px 20px 20px}
.info .row{margin-top:5px;clear:both}
.info .row:first-child{margin-bottom:20px}
.info .row label{width:120px;float:left}
#content{position:relative;z-index:5;width:100%;min-height:400px;float:left;margin-top:70px}
#content.error { margin-top:110px;}
.content{width:100%;height:100%;padding:20px;background:inherit;float:left}
.content.timeline{padding:50px 20px;overflow:hidden}
.content.timeline .err-msg{padding:10px 0}
.content.case{background:url("../images/1x1.png");float:none}
.content .showcase{position:relative;overflow:hidden;text-align:center;width:100%;height:100%}
.content .showcase .image-container{float:left;overflow:hidden;text-align:center;width:100%;height:100%;background:#222}
.content .showcase .image-container .is-loading{color:#fff !important}
.content .showcase .image-container #player{width:100%;height:100%}
.content .showcase .lt-btn,.content .showcase .rt-btn{float:left;width:auto;height:auto}
.content .showcase .lt-btn .btn,.content .showcase .rt-btn .btn{margin:0 0 10px 0;clear:both}
.content .showcase .lt-btn .btn.nomargin,.content .showcase .rt-btn .btn.nomargin{margin:0}
.content .showcase .btn-showcase{position:absolute;bottom:0;z-index:999;width:60px;height:60px}
.content .showcase .btn-showcase.left{left:0}
.content .showcase .btn-showcase.right{right:0}
.mitem{width:32.5%;margin:0 0 1% 1%;height:120px;padding:10px;float:left;background:#fff;position:relative}
.mitem:nth-child(4n+1){margin:0 0 1% 1%}
.mitem:nth-child(3n+1){margin-left:0}
.mitem .image-container{float:left;overflow:hidden;text-align:center;width:100px;height:100%;background:#222;cursor:pointer;margin-right:10px}
.mitem .image-container .is-loading{color:#fff !important}
.mitem .image-container .is-loading div{padding:0 !important}
.mitem .image-container .fa-play-circle-o{margin-top:30px}
.mitem .btn{position:absolute;bottom:10px;right:10px}
.mitem .btn a{background:#f28f00;opacity:.4}
.mitem .btn a:hover{opacity:.6}
.mitem .btn a.active{opacity:1}
.mitem .btn input{display:none}
.item{width:24.25%;height:270px;padding:10px;float:left;margin:0 0 1% 1%;background:#fff;position:relative}
.item:first-child,.item:nth-child(4n+1){margin-left:0}
.item .over{height:80%;width:100%;position:absolute;z-index:10;top:0;left:10px;cursor:pointer}
.item .over .caret-container{width:70px;height:50px;margin:80px auto;position:relative;border-radius:3px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAA0CAYAAACQGfi1AAAAPElEQVR42u3YIQEAMBADsZp6DW9raLqHJ6As4HD4Jcmptru3WWbmNAMAAAAAAAAAAAAAAAAAAAA+oL3UHn7+XzwiZjdnAAAAAElFTkSuQmCC") repeat-x}
.item .over .caret-container .caret{border:none!important;position:absolute;width:35px;height:25px;top:12px;left:10px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAe0lEQVR42uXXsRHAIAwDQHbKtDBTdnIooIRzwBK6o1Dl5gsDIplZGqTUPJM5JLPh20KFeUBU2B8QBbYCgsJ2QBBYBCgUFgkKgSFAWzAkaAnGAPVkD4wJcsFOgIoKyLVLVy21zLGXuRhlng6Zx1WmfsgUNJkKK1Pyj3yDPpge/A1vB9UqAAAAAElFTkSuQmCC") no-repeat}
.item .over .caret-container:hover{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAA0CAYAAACQGfi1AAAAPElEQVR42u3YIQEAMBADsZp6/v7lbAaGJ6As4HD4Jcmptru3WWbmNAMAAAAAAAAAAAAAAAAAAAA+oL3UHthsiKrKnaQlAAAAAElFTkSuQmCC") repeat-x}
.item .over .caret-container:hover .caret{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAfklEQVR42tXXQQ7AIAgEQJ/Wn7e8jPbisYbCLm5J9sRlEhV1uPt4yfXkWPQpWTVntcIioFbYF1ALLAOiwiogCgwBgsKQIAiMASrBmKAUrAM064zAOkEh2A6QqYBMZclMZVObyrE3lcFoKlcHBIIAQSEVEAWSAVEhv3zkb/kG3Q1PNYZ0GbASAAAAAElFTkSuQmCC") no-repeat}
.item .image-container{overflow:hidden;text-align:center;width:100%;height:80%;background:#222;cursor:pointer}
.item .image-container .is-loading{color:#fff !important}
.item .btn{float:right}
.item .btn a{background:#f28f00;opacity:.4}
.item .btn a:hover{opacity:.6}
.item .btn a.active{opacity:1}
.item .btn input{display:none}
.item .btn .item-info { margin-right:10px;}
.item.item-alb{padding:0;padding-bottom:8px}
.item.item-alb .image-container{background:#fff}
.item.item-alb.pending{background:#ddd}
.item.item-alb.pending .image-container{background:inherit}
.item.item-alb.pending .image-container h4{margin-top:25%}
.item.item-alb h5{padding:0 10px}
.item.item-alb h6{padding:0 10px}
.contact-thumb{width:60px;height:60px;font-size:30px;float:left;margin-right:10px}
.contact-thumb span{color:#ddd;font-size:60px}
.contact-thumb img{width:100%}
.contact-form-thumb{width:60px;height:60px;font-size:30px;margin-right:10px}
#revisions{margin-top:20px;width:600px;height:200px}
#revisions .revision{float:left;clear:both;box-sizing:border-box;display:block;width:100%;padding:14px 10px 5px 10px;border-bottom:1px solid #ddd}
#revisions .revision .rev-file{float:left;width:250px;text-align:left}
#revisions .revision .rev-file a{display:block}
#revisions .revision .rev-version{display:block;float:left;width:150px}
#revisions .revision .rev-date{display:block;float:left;width:100px}
#customTree{margin-top:20px;height:200px;width:300px;overflow-x:hidden;z-index:1000}
#tree{width:300px;border-right:1px solid #ddd;float:left;height:100%;overflow-x:hidden}
#cwd {float:left;height:100%;overflow-x:hidden;position:relative; }
#cwd .files-list { float: left; padding-bottom:40px; width:100%;}
#cwd .file-item,#cwd .file-head{float:left;width:100%;padding:10px;border-bottom:1px solid #ddd;position:relative}
#cwd .file-item .file-name,#cwd .file-head .file-name{float:left;padding-left:40px}
#cwd .file-item .file-name a,#cwd .file-head .file-name a{display:block}
#cwd .file-item .file-type,#cwd .file-head .file-type{float:right;width:100px}
#cwd .file-item .file-size,#cwd .file-head .file-size{float:right;width:100px}
#cwd .file-item .file-date,#cwd .file-head .file-date{float:right;width:200px}
#cwd .file-item:hover{background-color:#ddd}
#cwd .file-item.context-menu-active{background-color:#ccc}
#cwd .file-item.ui-selecting{background-color:#ccc}
#cwd .file-item.ui-selected{background-color:#ccc}
#cwd .file-item.ui-selected:hover{background-color:#ccc}
#cwd .file-head{cursor:pointer}
#cwd .file-head .file-name{padding-left:10px}
#cwd .cwd-status { position:fixed;bottom:0;right:0;width:100%;background:#e1e1e1; }
#cwd .cwd-status h4 { padding:5px 10px; }
#img-list{height:100%;width:150px;overflow-y:hidden;background:#fff;margin:0 20px 0 0;float:left}
#img-list ul.img-list{width:100%;height:auto}
#img-list ul.img-list li .img{padding:5px;width:145px;height:100px;text-align:center;background:#222;border-bottom:1px solid #666}
#page{max-width:1280px;max-height:720px;width:100%;height:inherit;float:left}
#alb-pages{background:#fff;max-width:1280px;max-height:720px;width:100%;height:100%;float:left;box-shadow:0 0 20px rgba(0,0,0,0.3)}
#alb-pages .alb-page{width:100%;height:100%;padding:20px}
#alb-pages .alb-page .img-container{margin:20px;float:left;background:none repeat scroll 0 0 #ddd;box-shadow:0 0 20px rgba(0,0,0,0.3) inset;overflow:hidden;text-align:center}
#alb-field{width:auto;height:60px;float:left;margin-top:10px}
#alb-field input{font-size:22px}
#alb-field input::-webkit-input-placeholder{font-size:20px}
#alb-field input:-moz-placeholder{font-size:20px}
#alb-field input::-moz-placeholder{font-size:20px}
#alb-field input:-ms-input-placeholder{font-size:20px}
#alb-btns{width:auto;height:60px;float:right}
#alb-btns .btn{margin-left:10px;float:left}
#alb-btns .alb-pagin{float:left;margin-top:10px;margin-right:60px}
#view-alb{height:40px}
.user-lt{overflow:auto;display:block;clear:both;width:450px;padding-bottom:20px;margin:0 auto 30px auto;border-bottom:1px solid #ddd}
.user-rt{clear:both;min-width:340px;width:60%;padding:20px 40px;margin:0 auto}
.user-rt .psswf{padding-top:20px}
.user-rt .psswf input{margin-right:10px}
.user-rt #chgacc .chgacc_pass{padding-top:20px}
.user-rt #chgacc .chgacc_pass input{margin-right:10px}
.user-rt #chgpssw{padding-top:20px}
.user-rt #dlacc{padding-top:20px}
.user-rt #dlacc .dlaccpsswf{padding-top:20px}
.user-rt #dlacc .dlaccpsswf input{margin-right:10px}
.alb-nav-next, .alb-nav-prev {
	background: #0019af;
}
@media (max-width:1200px){.user-rt{width:40%}
}
@media (max-width:890px){.user-lt,.user-rt{width:100%}
}
.ucharthead{text-align:center;width:300px}
.uchart{margin:10px auto;text-align:center;float:left;width:450px}
.uchart #uchart{float:left}
.uchart .uchartdet{width:auto;float:left}
.uchart .uchartdet li{float:left;clear:both;margin-left:20px;margin-top:10px}
.uchart .uchartdet li.link{cursor:pointer}
.uchart .uchartdet li .iconbg{margin-right:10px;margin-top:7px;width:15px;height:5px}
.devul{width:auto;float:left;clear:both}
.devul li{float:left;clear:both;margin-left:10px;margin-top:10px}
#map-canvas{height:100%;width:100%}
#contacts{overflow:hidden;width:100%}
#contacts #contact-search{width:100%;height:60px;border-bottom:1px solid #ddd}
#contacts #contact-search input{height:100%;border:none;border-right:1px solid #ddd;font-size:16px;width:350px}
#contacts #contact-search input::-webkit-input-placeholder{font-size:16px}
#contacts #contact-search input:-moz-placeholder{font-size:16px}
#contacts #contact-search input::-moz-placeholder{font-size:16px}
#contacts #contact-search input:-ms-input-placeholder{font-size:16px}
#contacts #contact-search .search-letters,#contacts #contact-search .search-field{height:100%}
#contacts #contact-search .search-letters-list{display:none}
#contacts #contact-search a.search,#contacts #contact-search a.new-contact, #contacts #contact-search a.contact-action{color: #333;float:left;display:block;padding:18px 8px;font-size:16px; }
#contacts #contact-search a.search:hover,#contacts #contact-search a.new-contact:hover, #contacts #contact-search a.contact-action:hover{color: #666;}
#contacts #contact-search a.contact-action.disabled { cursor:not-allowed; color: #aaa }
#contacts #contact-list{width:350px;height:100%;float:left;border-right:1px solid #ddd}
#contacts #contact-list .contact-list-item{padding:10px;width:100%;cursor:pointer;border-bottom:1px solid #ddd;float:left;position:relative;}
#contacts #contact-list .contact-list-item.selected{color:#fff;background:#fa5f13}
#contacts #contact-list .contact-list-item h3{font-size:16px;line-height:1;font-weight:400}
#contacts #contact-list .contact-list-item h4{margin-top:5px;font-size:14px}
#contacts #contact-list .contact-list-item h4.small{margin-top:5px;font-size:12px}
#contacts #contact-form {float:left;height:100%;overflow-y:auto}
#contacts #contact-form .content {padding-left: 0;padding-right:20px;}
#contacts #contact-form .contact-edit-btn{float:right}
#contacts #contact-form .contact-edit-btn a{margin-left:10px}
#contacts #contact-form .contact-edit-item{clear:both;margin-top:10px;margin-bottom:20px;position:relative;}
#contacts #contact-form .contact-edit-item label {cursor:pointer;}
#contacts #contact-form .contact-edit-item h6{margin-left:10px;line-height:1;color:#bbb}
#contacts #contact-form .contact-edit-item h4.small{margin-left:190px;line-height:1;color:#bbb}
#contacts #contact-form .contact-edit-item label{width:170px;float:left;margin-top:8px;font-size:16px; text-align:right;margin-right:10px;}
#contacts #contact-form .contact-edit-item input{width:100%;font-size:16px}
#contacts #contact-form .contact-edit-item input[type="text"][disabled]{border:none}
#contacts #contact-form .contact-edit-item input::-webkit-input-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input:-moz-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input::-moz-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input:-ms-input-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item-multi { float: left }
#contacts #contact-form .contact-edit-item-multi input{margin-top: 12px;}
.uname { width: 30px !important; }
#contacts #contact-form .contact-edit-item .sc_menu{background:#ddd}
#contacts #contact-form .contact-edit-item .sc_menu li{font-size:20px;padding:10px;cursor:pointer}
#contacts #contact-form .contact-edit-item.contact-edit-name{clear:none;float:left !important;margin-top:0;margin-bottom:10px}
#contacts #contact-form span.contact-img {color:#ddd;font-size:60px}
#contacts .contact-main-buttons { width: 100%; padding-left: 20px; float: left; }
#contacts .contact-main-buttons .large { text-align:center; background:#fefefe; cursor: pointer;  width: 40%; float: left; padding: 40px; margin:2.5%;font-family: "Open Sans"; color: #777; font-size: 24px; font-weight: 300; }
#drop-area{width:100%;margin:30px auto;background:#f1f1f1}
#file-list{width:90%;margin:30px auto}
#file-list .file-list-item{background:#fff;padding:10px;margin:.25%;width:49%;height:120px;float:left;border-bottom:1px solid #ddd}
#file-list .file-list-item .file-details{float:left;margin:10px;text-align:left}
#file-list .file-list-item .file-details h6{margin-bottom:5px}
.uploadmsg { text-align:center; width:100%; }
.progress-bar-container{clear:both;width:500px;height:45px;margin:10px auto 10px auto;position:relative;background:#ccc;display: none}
.progress-bar-container .progress-bar-label{position:absolute;top:0px;left:0px;text-align:right;font-size:16px;width:500px;height:45px;text-align:center;z-index:20;color:#fff;font-weight:400;padding:10px;}
.progress-bar-container .progress-bar{position:absolute;top:0px;left:0px;width:0px;height:45px;background:#ff6400;z-index:10;}
#file-list .file-list-item img{float:left;height:100px}
#file-list li:first-child{border-top:1px solid #ddd}
.clock{visibility:visible;position:fixed;top:40%;left:23px;z-index:25;width:176px;height:176px;box-shadow:0 0 20px rgba(0,0,0,0.3);border:20px solid #fff;-webkit-border-radius:87px 88px 87px 87px;-moz-border-radius:87px 88px 87px 87px;-ms-border-radius:87px 88px 87px 87px;-o-border-radius:87px 88px 87px 87px;border-radius:87px 88px 87px 87px}
.clock-bg{position:fixed;top:40%;left:23px;z-index:10;width:176px;height:176px;background:#eee;background-position:center center;border:20px solid #fff;-webkit-border-radius:87px 88px 87px 87px;-moz-border-radius:87px 88px 87px 87px;-ms-border-radius:87px 88px 87px 87px;-o-border-radius:87px 88px 87px 87px;border-radius:87px 88px 87px 87px}
.clock-arr{position:fixed;z-index:30;left:90px;top:40%;width:40px;height:40px;text-align:center;cursor:pointer;text-shadow:0 0 20px rgba(0,0,0,0.3)}
.clock-arr a{color:#fff}
.clock-arr a:hover{color:#ff6400}
.clock-content{position:fixed;z-index:15;left:43px;top:100%;width:135px;height:135px;line-height:125px;text-align:center;box-shadow:0 0 20px rgba(0,0,0,0.3) inset;background:#eee;-webkit-border-radius:67px 67px 67px 67px;-moz-border-radius:67px 67px 67px 67px;-ms-border-radius:67px 67px 67px 67px;-o-border-radius:67px 67px 67px 67px;border-radius:67px 67px 67px 67px}
.clock-content.active{z-index:20;background:#ff6400;-webkit-transition:background .4s ease;-moz-transition:background .4s ease;-o-transition:background .4s ease;transition:background .4s ease}
.clock-content h1,.clock-content h5{line-height:50px;color:#fff}
.clock-content h1{margin-top:23px}
.clocks.lhc{line-height:105px}
.vertical-line{position:fixed;height:100%;background:#bbb;width:1px;left:110px;z-index:5}
.timeline-day{float:left;margin-left:200px;overflow:hidden}
.timeline-day ul.btns{float:left;width:80px}
.timeline-day ul.btns li{height:80px;cursor:pointer;clear:both;padding:3px 0;text-align:center;background:#ddd;margin-bottom:10px;position:relative;z-index:10}
.timeline-day ul.btns li.active{background:#fff;z-index:20;box-shadow:10px 0 20px rgba(0,0,0,0.2)}
.timeline-day ul.btns li h6{padding:5px 0}
.timeline-day ul.btns li h6.fa{margin-top:5px}
.timeline-day-content{float:left;width:100%;min-height:480px !important;background:#fff;position:relative;z-index:20;box-shadow:0 0 20px rgba(0,0,0,0.3)}
.timeline-day-content .tab{display:none;width:100%;height:100%}
.timeline-day-content .tab.active{display:block}
.timeline-day-content .tab.empty{padding:40px;text-align:center}
.timeline-day-content .content{width:100%;height:100%}
.timeline-day-content .content .showcase .image-container{background:#fff}
.timeline-day-content .content .showcase .lt-btn,.timeline-day-content .content .showcase .rt-btn{float:left;width:auto;height:auto}
.timeline-day-content .content .showcase .lt-btn .btn,.timeline-day-content .content .showcase .rt-btn .btn{margin:0 0 10px 0;clear:both}
.timeline-day-content .content .showcase .btn-showcase{position:absolute;top:45%;z-index:999;width:60px;height:60px;background:rgba(0,25,175,0.7)}
.timeline-day-content .content .showcase .btn-showcase.left{left:0}
.timeline-day-content .content .showcase .btn-showcase.right{right:0}
.timeline-day-content .content .showcase .is-loading{color:#222 !important}
.tl-contacts .content{font-size:26px}
.err{color:#f00}
#popplayer{clear:both}
.popplayer{z-index:-1;width:100%;height:60px;bottom:0;left:0}
.popplayer.opaque{background:#777;opacity:.7}
.popplayer .is-loading{color:#fff !important}
.popmsg{z-index:-1;opacity:.8;width:100%;height:100%;top:70px;left:0;background:#fff}
.msg{padding:20px;width:auto;min-width:360px;background:#fff}
.msg input[type=text]{min-width:320px;margin-top:10px}
.msg input::-webkit-input-placeholder{font-size:20px}
.msg input:-moz-placeholder{font-size:20px}
.msg input::-moz-placeholder{font-size:20px}
.msg input:-ms-input-placeholder{font-size:20px}
.btmsg{margin:20px 10px}
.is-loading{font-weight:400;width:100%;height:100%;padding-top:30px;text-align:center;color:#222}
.is-loading div{width:40px;height:40px;margin:0 auto;padding-left:20px;display:inline-block;text-align:center;-webkit-transform:rotate(0);-webkit-transform-origin:0 0;-moz-transform:rotate(0);-moz-transform-origin:0 0;-ms-transform:rotate(0);-ms-transform-origin:0 0;-o-transform:rotate(0);-o-transform-origin:0 0;transform:rotate(0);transform-origin:0 0}
.is-loading div b{-webkit-animation:spinner2 2s 0s ease-in-out infinite alternate;-moz-animation:spinner2 2s 0s ease-in-out infinite alternate;-o-animation:spinner2 2s 0s ease-in-out infinite alternate;animation:spinner2 2s 0s ease-in-out infinite alternate;display:inline-block;width:20px;height:20px;line-height:20px;position:absolute;text-align:left}
.is-loading div b:after{content:"."}
.is-loading div b:nth-child( 8n+8){-webkit-animation-delay:.8s;-moz-animation-delay:.8s;-o-animation-delay:.8s;animation-delay:.8s;-webkit-transform:rotate(-360deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-360deg);-moz-transform-origin:0 0;-ms-transform:rotate(-360deg);-ms-transform-origin:0 0;-o-transform:rotate(-360deg);-o-transform-origin:0 0;transform:rotate(-360deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+7){-webkit-animation-delay:.7s;-moz-animation-delay:.7s;-o-animation-delay:.7s;animation-delay:.7s;-webkit-transform:rotate(-315deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-315deg);-moz-transform-origin:0 0;-ms-transform:rotate(-315deg);-ms-transform-origin:0 0;-o-transform:rotate(-315deg);-o-transform-origin:0 0;transform:rotate(-315deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+6){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;-o-animation-delay:.6s;animation-delay:.6s;-webkit-transform:rotate(-270deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-270deg);-moz-transform-origin:0 0;-ms-transform:rotate(-270deg);-ms-transform-origin:0 0;-o-transform:rotate(-270deg);-o-transform-origin:0 0;transform:rotate(-270deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+5){-webkit-animation-delay:.5s;-moz-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s;-webkit-transform:rotate(-225deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-225deg);-moz-transform-origin:0 0;-ms-transform:rotate(-225deg);-ms-transform-origin:0 0;-o-transform:rotate(-225deg);-o-transform-origin:0 0;transform:rotate(-225deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+4){-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s;-webkit-transform:rotate(-180deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-180deg);-moz-transform-origin:0 0;-ms-transform:rotate(-180deg);-ms-transform-origin:0 0;-o-transform:rotate(-180deg);-o-transform-origin:0 0;transform:rotate(-180deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+3){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s;-webkit-transform:rotate(-135deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-135deg);-moz-transform-origin:0 0;-ms-transform:rotate(-135deg);-ms-transform-origin:0 0;-o-transform:rotate(-135deg);-o-transform-origin:0 0;transform:rotate(-135deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+2){-webkit-animation-delay:.2s;-moz-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s;-webkit-transform:rotate(-90deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-90deg);-moz-transform-origin:0 0;-ms-transform:rotate(-90deg);-ms-transform-origin:0 0;-o-transform:rotate(-90deg);-o-transform-origin:0 0;transform:rotate(-90deg);transform-origin:0 0}
.is-loading div b:nth-child( 8n+1){-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;animation-delay:.1s;-webkit-transform:rotate(-45deg);-webkit-transform-origin:0 0;-moz-transform:rotate(-45deg);-moz-transform-origin:0 0;-ms-transform:rotate(-45deg);-ms-transform-origin:0 0;-o-transform:rotate(-45deg);-o-transform-origin:0 0;transform:rotate(-45deg);transform-origin:0 0}
@-webkit-keyframes spinner2{to{-webkit-transform:rotate(720deg);-webkit-transform-origin:0 0;-moz-transform:rotate(720deg);-moz-transform-origin:0 0;-ms-transform:rotate(720deg);-ms-transform-origin:0 0;-o-transform:rotate(720deg);-o-transform-origin:0 0;transform:rotate(720deg);transform-origin:0 0}
}
@-moz-keyframes spinner2{to{-webkit-transform:rotate(720deg);-webkit-transform-origin:0 0;-moz-transform:rotate(720deg);-moz-transform-origin:0 0;-ms-transform:rotate(720deg);-ms-transform-origin:0 0;-o-transform:rotate(720deg);-o-transform-origin:0 0;transform:rotate(720deg);transform-origin:0 0}
}
@-ms-keyframes spinner2{to{-webkit-transform:rotate(720deg);-webkit-transform-origin:0 0;-moz-transform:rotate(720deg);-moz-transform-origin:0 0;-ms-transform:rotate(720deg);-ms-transform-origin:0 0;-o-transform:rotate(720deg);-o-transform-origin:0 0;transform:rotate(720deg);transform-origin:0 0}
}
@keyframes spinner2{to{-webkit-transform:rotate(720deg);-webkit-transform-origin:0 0;-moz-transform:rotate(720deg);-moz-transform-origin:0 0;-ms-transform:rotate(720deg);-ms-transform-origin:0 0;-o-transform:rotate(720deg);-o-transform-origin:0 0;transform:rotate(720deg);transform-origin:0 0}
}
.is-loading.with-pad{padding-top:20%}
.scrolltop{position:fixed;bottom:60px;right:0;z-index:1000;background:#ff6400}
.scrolltop a{opacity:1;padding-top:10px}
.context-menu-item.hover{background-color:#ff6400 !important;color:#fff !important}
.jqueryFileTree LI.directory{background:url(images/directory.png) left top no-repeat}
.jqueryFileTree LI.expanded{background:url(images/folder_open.png) left top no-repeat}
.jqueryFileTree LI.file{background:url(images/file.png) left top no-repeat}
.jqueryFileTree LI.wait{background:url(images/spinner.gif) left top no-repeat}
.ext-small.ext-dir{background:url(images/clearlooks/places/small/folder.png) 10px 10px no-repeat}
.ext-small.ext-3gp{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-afp{background:url(images/clearlooks/mimetypes/small/afp.png) 10px 10px no-repeat}
.ext-small.ext-afpa{background:url(images/clearlooks/mimetypes/small/afp.png) 10px 10px no-repeat}
.ext-small.ext-asp{background:url(images/clearlooks/mimetypes/small/asp.png) 10px 10px no-repeat}
.ext-small.ext-aspx{background:url(images/clearlooks/mimetypes/small/asp.png) 10px 10px no-repeat}
.ext-small.ext-avi{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-bat{background:url(images/clearlooks/mimetypes/small/bat.png) 10px 10px no-repeat}
.ext-small.ext-bmp{background:url(images/clearlooks/mimetypes/small/bmp.png) 10px 10px no-repeat}
.ext-small.ext-c{background:url(images/clearlooks/mimetypes/small/c.png) 10px 10px no-repeat}
.ext-small.ext-cfm{background:url(images/clearlooks/mimetypes/small/cfm.png) 10px 10px no-repeat}
.ext-small.ext-cgi{background:url(images/clearlooks/mimetypes/small/cgi.png) 10px 10px no-repeat}
.ext-small.ext-com{background:url(images/clearlooks/mimetypes/small/com.png) 10px 10px no-repeat}
.ext-small.ext-cpp{background:url(images/clearlooks/mimetypes/small/cpp.png) 10px 10px no-repeat}
.ext-small.ext-css{background:url(images/clearlooks/mimetypes/small/css.png) 10px 10px no-repeat}
.ext-small.ext-doc{background:url(images/clearlooks/mimetypes/small/doc.png) 10px 10px no-repeat}
.ext-small.ext-exe{background:url(images/clearlooks/mimetypes/small/exe.png) 10px 10px no-repeat}
.ext-small.ext-gif{background:url(images/clearlooks/mimetypes/small/gif.png) 10px 10px no-repeat}
.ext-small.ext-fla{background:url(images/clearlooks/mimetypes/small/fla.png) 10px 10px no-repeat}
.ext-small.ext-h{background:url(images/clearlooks/mimetypes/small/h.png) 10px 10px no-repeat}
.ext-small.ext-htm{background:url(images/clearlooks/mimetypes/small/html.png) 10px 10px no-repeat}
.ext-small.ext-html{background:url(images/clearlooks/mimetypes/small/html.png) 10px 10px no-repeat}
.ext-small.ext-jar{background:url(images/clearlooks/mimetypes/small/jar.png) 10px 10px no-repeat}
.ext-small.ext-jpg{background:url(images/clearlooks/mimetypes/small/jpg.png) 10px 10px no-repeat}
.ext-small.ext-jpeg{background:url(images/clearlooks/mimetypes/small/jpg.png) 10px 10px no-repeat}
.ext-small.ext-js{background:url(images/clearlooks/mimetypes/small/js.png) 10px 10px no-repeat}
.ext-small.ext-lasso{background:url(images/clearlooks/mimetypes/small/code.png) 10px 10px no-repeat}
.ext-small.ext-log{background:url(images/clearlooks/mimetypes/small/txt.png) 10px 10px no-repeat}
.ext-small.ext-m4a{background:url(images/clearlooks/mimetypes/small/audio.png) 10px 10px no-repeat}
.ext-small.ext-m4p{background:url(images/clearlooks/mimetypes/small/m4p.png) 10px 10px no-repeat}
.ext-small.ext-mov{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-mp3{background:url(images/clearlooks/mimetypes/small/mp3.png) 10px 10px no-repeat}
.ext-small.ext-mp4{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-mpg{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-mpeg{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-ogg{background:url(images/clearlooks/mimetypes/small/ogg.png) 10px 10px no-repeat}
.ext-small.ext-pcx{background:url(images/clearlooks/mimetypes/small/pcx.png) 10px 10px no-repeat}
.ext-small.ext-pdf{background:url(images/clearlooks/mimetypes/small/pdf.png) 10px 10px no-repeat}
.ext-small.ext-php{background:url(images/clearlooks/mimetypes/small/php.png) 10px 10px no-repeat}
.ext-small.ext-png{background:url(images/clearlooks/mimetypes/small/png.png) 10px 10px no-repeat}
.ext-small.ext-ppt{background:url(images/clearlooks/mimetypes/small/ppt.png) 10px 10px no-repeat}
.ext-small.ext-psd{background:url(images/clearlooks/mimetypes/small/psd.png) 10px 10px no-repeat}
.ext-small.ext-pl{background:url(images/clearlooks/mimetypes/small/pl.png) 10px 10px no-repeat}
.ext-small.ext-py{background:url(images/clearlooks/mimetypes/small/py.png) 10px 10px no-repeat}
.ext-small.ext-rb{background:url(images/clearlooks/mimetypes/small/rb.png) 10px 10px no-repeat}
.ext-small.ext-rbx{background:url(images/clearlooks/mimetypes/small/ruby.png) 10px 10px no-repeat}
.ext-small.ext-rhtml{background:url(images/clearlooks/mimetypes/small/ruby.png) 10px 10px no-repeat}
.ext-small.ext-rpm{background:url(images/clearlooks/mimetypes/small/rpm.png) 10px 10px no-repeat}
.ext-small.ext-ruby{background:url(images/clearlooks/mimetypes/small/ruby.png) 10px 10px no-repeat}
.ext-small.ext-sql{background:url(images/clearlooks/mimetypes/small/sql.png) 10px 10px no-repeat}
.ext-small.ext-swf{background:url(images/clearlooks/mimetypes/small/swf.png) 10px 10px no-repeat}
.ext-small.ext-tif{background:url(images/clearlooks/mimetypes/small/tiff.png) 10px 10px no-repeat}
.ext-small.ext-tiff{background:url(images/clearlooks/mimetypes/small/tiff.png) 10px 10px no-repeat}
.ext-small.ext-txt{background:url(images/clearlooks/mimetypes/small/txt.png) 10px 10px no-repeat}
.ext-small.ext-vb{background:url(images/clearlooks/mimetypes/small/vb.png) 10px 10px no-repeat}
.ext-small.ext-wav{background:url(images/clearlooks/mimetypes/small/wav.png) 10px 10px no-repeat}
.ext-small.ext-wmv{background:url(images/clearlooks/mimetypes/small/video.png) 10px 10px no-repeat}
.ext-small.ext-xls{background:url(images/clearlooks/mimetypes/small/xls.png) 10px 10px no-repeat}
.ext-small.ext-xml{background:url(images/clearlooks/mimetypes/small/xml.png) 10px 10px no-repeat}
.ext-small.ext-zip{background:url(images/clearlooks/mimetypes/small/zip.png) 10px 10px no-repeat}
.ext-xsmall.ext-dir{background:url(images/clearlooks/places/xsmall/folder.png) left 3px no-repeat}
.ext-xsmall.ext-3gp{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-afp{background:url(images/clearlooks/mimetypes/xsmall/afp.png) left 3px no-repeat}
.ext-xsmall.ext-afpa{background:url(images/clearlooks/mimetypes/xsmall/afp.png) left 3px no-repeat}
.ext-xsmall.ext-asp{background:url(images/clearlooks/mimetypes/xsmall/asp.png) left 3px no-repeat}
.ext-xsmall.ext-aspx{background:url(images/clearlooks/mimetypes/xsmall/asp.png) left 3px no-repeat}
.ext-xsmall.ext-avi{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-bat{background:url(images/clearlooks/mimetypes/xsmall/bat.png) left 3px no-repeat}
.ext-xsmall.ext-bmp{background:url(images/clearlooks/mimetypes/xsmall/bmp.png) left 3px no-repeat}
.ext-xsmall.ext-c{background:url(images/clearlooks/mimetypes/xsmall/c.png) left 3px no-repeat}
.ext-xsmall.ext-cfm{background:url(images/clearlooks/mimetypes/xsmall/cfm.png) left 3px no-repeat}
.ext-xsmall.ext-cgi{background:url(images/clearlooks/mimetypes/xsmall/cgi.png) left 3px no-repeat}
.ext-xsmall.ext-com{background:url(images/clearlooks/mimetypes/xsmall/com.png) left 3px no-repeat}
.ext-xsmall.ext-cpp{background:url(images/clearlooks/mimetypes/xsmall/cpp.png) left 3px no-repeat}
.ext-xsmall.ext-css{background:url(images/clearlooks/mimetypes/xsmall/css.png) left 3px no-repeat}
.ext-xsmall.ext-doc{background:url(images/clearlooks/mimetypes/xsmall/doc.png) left 3px no-repeat}
.ext-xsmall.ext-exe{background:url(images/clearlooks/mimetypes/xsmall/exe.png) left 3px no-repeat}
.ext-xsmall.ext-gif{background:url(images/clearlooks/mimetypes/xsmall/gif.png) left 3px no-repeat}
.ext-xsmall.ext-fla{background:url(images/clearlooks/mimetypes/xsmall/fla.png) left 3px no-repeat}
.ext-xsmall.ext-h{background:url(images/clearlooks/mimetypes/xsmall/h.png) left 3px no-repeat}
.ext-xsmall.ext-htm{background:url(images/clearlooks/mimetypes/xsmall/html.png) left 3px no-repeat}
.ext-xsmall.ext-html{background:url(images/clearlooks/mimetypes/xsmall/html.png) left 3px no-repeat}
.ext-xsmall.ext-jar{background:url(images/clearlooks/mimetypes/xsmall/jar.png) left 3px no-repeat}
.ext-xsmall.ext-jpg{background:url(images/clearlooks/mimetypes/xsmall/jpg.png) left 3px no-repeat}
.ext-xsmall.ext-jpeg{background:url(images/clearlooks/mimetypes/xsmall/jpg.png) left 3px no-repeat}
.ext-xsmall.ext-js{background:url(images/clearlooks/mimetypes/xsmall/js.png) left 3px no-repeat}
.ext-xsmall.ext-lasso{background:url(images/clearlooks/mimetypes/xsmall/code.png) left 3px no-repeat}
.ext-xsmall.ext-log{background:url(images/clearlooks/mimetypes/xsmall/txt.png) left 3px no-repeat}
.ext-xsmall.ext-m4a{background:url(images/clearlooks/mimetypes/xsmall/audio.png) left 3px no-repeat}
.ext-xsmall.ext-m4p{background:url(images/clearlooks/mimetypes/xsmall/m4p.png) left 3px no-repeat}
.ext-xsmall.ext-mov{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-mp3{background:url(images/clearlooks/mimetypes/xsmall/mp3.png) left 3px no-repeat}
.ext-xsmall.ext-mp4{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-mpg{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-mpeg{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-ogg{background:url(images/clearlooks/mimetypes/xsmall/ogg.png) left 3px no-repeat}
.ext-xsmall.ext-pcx{background:url(images/clearlooks/mimetypes/xsmall/pcx.png) left 3px no-repeat}
.ext-xsmall.ext-pdf{background:url(images/clearlooks/mimetypes/xsmall/pdf.png) left 3px no-repeat}
.ext-xsmall.ext-php{background:url(images/clearlooks/mimetypes/xsmall/php.png) left 3px no-repeat}
.ext-xsmall.ext-png{background:url(images/clearlooks/mimetypes/xsmall/png.png) left 3px no-repeat}
.ext-xsmall.ext-ppt{background:url(images/clearlooks/mimetypes/xsmall/ppt.png) left 3px no-repeat}
.ext-xsmall.ext-psd{background:url(images/clearlooks/mimetypes/xsmall/psd.png) left 3px no-repeat}
.ext-xsmall.ext-pl{background:url(images/clearlooks/mimetypes/xsmall/pl.png) left 3px no-repeat}
.ext-xsmall.ext-py{background:url(images/clearlooks/mimetypes/xsmall/py.png) left 3px no-repeat}
.ext-xsmall.ext-rb{background:url(images/clearlooks/mimetypes/xsmall/rb.png) left 3px no-repeat}
.ext-xsmall.ext-rbx{background:url(images/clearlooks/mimetypes/xsmall/ruby.png) left 3px no-repeat}
.ext-xsmall.ext-rhtml{background:url(images/clearlooks/mimetypes/xsmall/ruby.png) left 3px no-repeat}
.ext-xsmall.ext-rpm{background:url(images/clearlooks/mimetypes/xsmall/rpm.png) left 3px no-repeat}
.ext-xsmall.ext-ruby{background:url(images/clearlooks/mimetypes/xsmall/ruby.png) left 3px no-repeat}
.ext-xsmall.ext-sql{background:url(images/clearlooks/mimetypes/xsmall/sql.png) left 3px no-repeat}
.ext-xsmall.ext-swf{background:url(images/clearlooks/mimetypes/xsmall/swf.png) left 3px no-repeat}
.ext-xsmall.ext-tif{background:url(images/clearlooks/mimetypes/xsmall/tiff.png) left 3px no-repeat}
.ext-xsmall.ext-tiff{background:url(images/clearlooks/mimetypes/xsmall/tiff.png) left 3px no-repeat}
.ext-xsmall.ext-txt{background:url(images/clearlooks/mimetypes/xsmall/txt.png) left 3px no-repeat}
.ext-xsmall.ext-vb{background:url(images/clearlooks/mimetypes/xsmall/vb.png) left 3px no-repeat}
.ext-xsmall.ext-wav{background:url(images/clearlooks/mimetypes/xsmall/wav.png) left 3px no-repeat}
.ext-xsmall.ext-wmv{background:url(images/clearlooks/mimetypes/xsmall/video.png) left 3px no-repeat}
.ext-xsmall.ext-xls{background:url(images/clearlooks/mimetypes/xsmall/xls.png) left 3px no-repeat}
.ext-xsmall.ext-xml{background:url(images/clearlooks/mimetypes/xsmall/xml.png) left 3px no-repeat}
.ext-xsmall.ext-zip{background:url(images/clearlooks/mimetypes/xsmall/zip.png) left 3px no-repeat}
.ext-dir{background:url(images/clearlooks/places/folder.png) left top no-repeat}
.ext-3gp{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-afp{background:url(images/clearlooks/mimetypes/afp.png) left 10px no-repeat}
.ext-afpa{background:url(images/clearlooks/mimetypes/afp.png) left 10px no-repeat}
.ext-asp{background:url(images/clearlooks/mimetypes/asp.png) left 10px no-repeat}
.ext-aspx{background:url(images/clearlooks/mimetypes/asp.png) left 10px no-repeat}
.ext-avi{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-bat{background:url(images/clearlooks/mimetypes/bat.png) left 10px no-repeat}
.ext-bmp{background:url(images/clearlooks/mimetypes/bmp.png) left 10px no-repeat}
.ext-c{background:url(images/clearlooks/mimetypes/c.png) left 10px no-repeat}
.ext-cfm{background:url(images/clearlooks/mimetypes/cfm.png) left 10px no-repeat}
.ext-cgi{background:url(images/clearlooks/mimetypes/cgi.png) left 10px no-repeat}
.ext-com{background:url(images/clearlooks/mimetypes/com.png) left 10px no-repeat}
.ext-cpp{background:url(images/clearlooks/mimetypes/cpp.png) left 10px no-repeat}
.ext-css{background:url(images/clearlooks/mimetypes/css.png) left 10px no-repeat}
.ext-doc{background:url(images/clearlooks/mimetypes/doc.png) left 10px no-repeat}
.ext-exe{background:url(images/clearlooks/mimetypes/exe.png) left 10px no-repeat}
.ext-gif{background:url(images/clearlooks/mimetypes/gif.png) left 10px no-repeat}
.ext-fla{background:url(images/clearlooks/mimetypes/fla.png) left 10px no-repeat}
.ext-h{background:url(images/clearlooks/mimetypes/h.png) left 10px no-repeat}
.ext-htm{background:url(images/clearlooks/mimetypes/html.png) left 10px no-repeat}
.ext-html{background:url(images/clearlooks/mimetypes/html.png) left 10px no-repeat}
.ext-jar{background:url(images/clearlooks/mimetypes/jar.png) left 10px no-repeat}
.ext-jpg{background:url(images/clearlooks/mimetypes/jpg.png) left 10px no-repeat}
.ext-jpeg{background:url(images/clearlooks/mimetypes/jpg.png) left 10px no-repeat}
.ext-js{background:url(images/clearlooks/mimetypes/js.png) left 10px no-repeat}
.ext-lasso{background:url(images/clearlooks/mimetypes/code.png) left 10px no-repeat}
.ext-log{background:url(images/clearlooks/mimetypes/txt.png) left 10px no-repeat}
.ext-m4a{background:url(images/clearlooks/mimetypes/audio.png) left 10px no-repeat}
.ext-m4p{background:url(images/clearlooks/mimetypes/m4p.png) left 10px no-repeat}
.ext-mov{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-mp3{background:url(images/clearlooks/mimetypes/mp3.png) left 10px no-repeat}
.ext-mp4{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-mpg{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-mpeg{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-ogg{background:url(images/clearlooks/mimetypes/ogg.png) left 10px no-repeat}
.ext-pcx{background:url(images/clearlooks/mimetypes/pcx.png) left 10px no-repeat}
.ext-pdf{background:url(images/clearlooks/mimetypes/pdf.png) left 10px no-repeat}
.ext-php{background:url(images/clearlooks/mimetypes/php.png) left 10px no-repeat}
.ext-png{background:url(images/clearlooks/mimetypes/png.png) left 10px no-repeat}
.ext-ppt{background:url(images/clearlooks/mimetypes/ppt.png) left 10px no-repeat}
.ext-psd{background:url(images/clearlooks/mimetypes/psd.png) left 10px no-repeat}
.ext-pl{background:url(images/clearlooks/mimetypes/pl.png) left 10px no-repeat}
.ext-py{background:url(images/clearlooks/mimetypes/py.png) left 10px no-repeat}
.ext-rb{background:url(images/clearlooks/mimetypes/rb.png) left 10px no-repeat}
.ext-rbx{background:url(images/clearlooks/mimetypes/ruby.png) left 10px no-repeat}
.ext-rhtml{background:url(images/clearlooks/mimetypes/ruby.png) left 10px no-repeat}
.ext-rpm{background:url(images/clearlooks/mimetypes/rpm.png) left 10px no-repeat}
.ext-ruby{background:url(images/clearlooks/mimetypes/ruby.png) left 10px no-repeat}
.ext-sql{background:url(images/clearlooks/mimetypes/sql.png) left 10px no-repeat}
.ext-swf{background:url(images/clearlooks/mimetypes/swf.png) left 10px no-repeat}
.ext-tif{background:url(images/clearlooks/mimetypes/tiff.png) left 10px no-repeat}
.ext-tiff{background:url(images/clearlooks/mimetypes/tiff.png) left 10px no-repeat}
.ext-txt{background:url(images/clearlooks/mimetypes/txt.png) left 10px no-repeat}
.ext-vb{background:url(images/clearlooks/mimetypes/vb.png) left 10px no-repeat}
.ext-wav{background:url(images/clearlooks/mimetypes/wav.png) left 10px no-repeat}
.ext-wmv{background:url(images/clearlooks/mimetypes/video.png) left 10px no-repeat}
.ext-xls{background:url(images/clearlooks/mimetypes/xls.png) left 10px no-repeat}
.ext-xml{background:url(images/clearlooks/mimetypes/xml.png) left 10px no-repeat}
.ext-zip{background:url(images/clearlooks/mimetypes/zip.png) left 10px no-repeat}
@media (max-width:1340px){
	#contacts #contact-search a.search,#contacts #contact-search a.new-contact,#contacts #contact-search a.contact-action{font-size:16px;padding:18px 5px}
}
@media (max-width:1125px){h2{font-size:30px}
h3{font-size:20px}
h4{font-size:18px}
#contacts #contact-search input{width:300px;font-size:16px}
#contacts #contact-search input::-webkit-input-placeholder{font-size:16px}
#contacts #contact-search input:-moz-placeholder{font-size:16px}
#contacts #contact-search input::-moz-placeholder{font-size:16px}
#contacts #contact-search input:-ms-input-placeholder{font-size:16px}
#contacts #contact-search a.search,#contacts #contact-search a.new-contact,#contacts #contact-search a.contact-action{font-size:16px;padding:18px 5px}
#contacts #contact-list{width:300px}
#contacts #contact-form .contact-edit-item label{font-size:18px}
#contacts #contact-form .contact-edit-item input{font-size:18px}
#contacts #contact-form .contact-edit-item input::-webkit-input-placeholder{font-size:18px}
#contacts #contact-form .contact-edit-item input:-moz-placeholder{font-size:18px}
#contacts #contact-form .contact-edit-item input::-moz-placeholder{font-size:18px}
#contacts #contact-form .contact-edit-item input:-ms-input-placeholder{font-size:18px}
#contacts #contact-form .contact-edit-item .sc_menu li{font-size:18px}
}
@media (max-width:1070px){h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:14px}
.btn a{width:40px;height:40px;font-size:18px;padding:8px 0}
.btn.wauto{margin-left:3px}
.btn.wauto a{padding:8px 10px;font-size:16px}
.item{height:198px}
.item .image-container{height:83%}
#alb-btns .btn{margin-left:4px}
#alb-field input{width:200px;font-size:18px}
#contacts #contact-search{height:40px}
#contacts #contact-search a.search,#contacts #contact-search a.new-contact,#contacts #contact-search a.contact-action{font-size:16px;padding:10px 5px}
}
@media (max-width:1024px){.content .item{width:32.5%;margin:0 0 1% 1%}
.content .item:nth-child(4n+1){margin:0 0 1% 1%}
.content .item:nth-child(3n+1){margin-left:0}
}
@media (max-width:940px){h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
#contacts #contact-search input{width:260px;font-size:16px}
#contacts #contact-search input::-webkit-input-placeholder{font-size:16px}
#contacts #contact-search input:-moz-placeholder{font-size:16px}
#contacts #contact-search input::-moz-placeholder{font-size:16px}
#contacts #contact-search input:-ms-input-placeholder{font-size:16px}
#contacts #contact-search a.search, #contacts #contact-search a.contact-action{font-size:14px}
#contacts #contact-list{width:260px}
#contacts #contact-form .contact-edit-item label{font-size:16px}
#contacts #contact-form .contact-edit-item input{font-size:16px}
#contacts #contact-form .contact-edit-item input::-webkit-input-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input:-moz-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input::-moz-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item input:-ms-input-placeholder{font-size:16px}
#contacts #contact-form .contact-edit-item .sc_menu li{font-size:16px}
.contact-thumb{width:40px;height:40px;font-size:0px;}
.contact-thumb span {font-size:40px;}
}
@media (max-width:800px){.content .item{width:49.5%;margin:0 0 1% 1%}
.content .item:nth-child(3n+1){margin:0 0 1% 1%}
.content .item:nth-child(2n+1){margin-left:0}
}
@media (max-width:600px){.content .item{width:100%;margin:0 0 1% 0 !important}
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
hr {
	float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}
.item-checkbox {
	position:absolute;
	right:10px;
	top:25px;
	width:30px;
	height:30px;
}
.item-checkbox.item-checkbox-all {
	top:5px;
}
.item-checkbox input {
    width: 20px;
}
.contact-field-remove-btn {
	cursor: pointer;
	top: 10px;
	left:20px;
	width:20px;
	height:20px;
	z-index:1000;
	position:absolute;
	background:none;
	color: red;
}
